::-webkit-scrollbar {
  width: 15px;
  display: block;
}

::-webkit-scrollbar-thumb {
  width: inherit;
  height: 25px;
  background: #c3c3c3;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body {
  height: fit-content;
  background: #fff;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}

body > .header {
/*   position: relative; */
  position: fixed;
}


/* CONTENT DIV */
body > .content {
  width: 100%;
  height: 100%;
  margin: 50px auto auto auto;
}

body > .content .bio {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.width-longer body > .content .bio {
  width: 50%;
}

.height-longer body > .content .bio {
  width: 90%;
}


/* CONTENT DIV PARAGRAPH */
body > .content p {
  line-height: 1.2;
  user-select: none;
}

.width-longer .content p {
  font-size: 18px;
}

.height-longer .content p * {
  font-size: 14px;
}

.content .bio span {
  width: fit-content;
  height: fit-content;
  font-size: inherit;
  margin: auto;
}


/* COMPANY CONTAINER */
.content .bio .company-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto auto 40px auto;
/*   border-bottom: 1px solid #efefef; */
}


/* COMPANY CONTAINER - IMG */
.bio .company-container img {
  width: 100%;
  height: auto;
  margin: auto auto 15px auto;
/*   margin: auto; */
  border-radius: 15px;
  position: relative;
  user-select: none;
}

.width-longer .bio .company-container img.logo.square {
/*   display: none; */
}

.height-longer .bio .company-container img.logo.rectangle {
/*   display: none; */
}

.width-longer .bio .company-container img.logo.rectangle,
.height-longer .bio .company-container img.logo.rectangle {
  display: none;
}

.bio .company-container img,
.bio .company-container .social-media-profiles {
/*   box-shadow: 0px 1px 7px #efefef; */
  box-shadow: 0px 1px 7px #d3d3d3;
}

.bio .company-container.twge-farms img {
  border-radius: 50%;
}


.bio .company-container.tac img,
.bio .company-container.tac .social-media-profiles {
/*   box-shadow: none; */
}


/* SOCIAL MEDIA PROFILES */
.social-media-profiles {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 15px;
}

.tapr .social-media-profiles {
  background: white;
}

.dash-water-company .social-media-profiles {
  background: #00379c;
}

.jojos-web .social-media-profiles {
/*   background: #ffae00; */
/*   background: #ffffff; */
  background: #b1b1b1;
}

.cow-restaurant .social-media-profiles {
  background: maroon;
}

.jojos-photo-studio .social-media-profiles {
  background: #a3a3a3;
}

.raging-bull-theaters .social-media-profiles {
  background: #111;
}

.twge-farms .social-media-profiles {
  background: #006735;
}

.acolorblue .social-media-profiles {
  background: #ededed;
}

.dingdong-delivery .social-media-profiles {
  background: #707169;
}

.the-goodtime-plaza .social-media-profiles {
  background: #ddc39e;
}

.tes-247 .social-media-profiles {
  background: #007f5a;
}

.jojos-pad .social-media-profiles {
  background: #333333;
}

.tcmmc .social-media-profiles {
  background: #010080;
}

.social-media-profiles {
  background: ;
}

.social-media-profiles a {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto 15px;
}

.social-media-profiles a.icon::before {
  width: inherit;
  height: inherit;
  background-size: 70%;
}


/* FOOTER */
body > .footer {
  width: 100%;
  height: fit-content;
/*   border: 1px solid black; */
  margin: auto auto 20px auto;
}

body > .footer p {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.width-longer body > .footer p {
  width: 50%;
}

.height-longer body > .footer p {
  width: 90%;
}

body > .footer p a {
  text-decoration: underline;
  font-weight: bold;
}
